/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
nav {
    position: fixed;
    top: 10px; /* Se baja un poco desde el borde superior */
    left: 50%; /* Comienza desde el centro horizontal */
    transform: translateX(-50%); /* Centra el nav horizontalmente */
    display: flex;
    height: 1rem;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 50px; /* Bordes redondeados */
    z-index: 1000; /* Asegura que la barra de navegación esté siempre encima del contenido */
    max-width: 100%; /* Ajusta el ancho máximo para que no ocupe todo el espacio */
}

/* Ajustes para la lista dentro de la barra de navegación */
nav ul {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    border-radius: 15px;
    font-size: 1rem; /* Tamaño base de la fuente */
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* Transición suave para escala y colores */
    padding: 0.35rem 1rem; /* Espaciado dentro de cada enlace para evitar desplazamiento */
    display: inline-block; /* Hace que el padding también afecte el área de clic */
}

nav ul li a:hover {
    background-color: rgba(0, 183, 255, 0.2); /* Color de fondo al pasar el cursor */
    color: #ffff; /* Color de la fuente al pasar el cursor */
    transform: scale(1.1); /* Escala al pasar el cursor */
    box-shadow: 0 0 10px 5px rgba(0, 183, 255, 0.6);
}

.logo {
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section Styles */
.hero {
    background-image: url('assets/hero.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    z-index: -1; /* Asegura que el contenido de la tarjeta esté sobre el fondo */
    height: 80vh;
    background-attachment: fixed; /* Fondo fijo para efecto parallax */
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-hero {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo blanco para la tarjeta */
    color: #f7f5f5; /* Texto oscuro para contraste */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(35, 204, 226, 0.5);
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 800px; /* Ajusta el tamaño máximo de la tarjeta */
    width: 90%;
    box-sizing: border-box;
    position: absolute; /* Posiciona la tarjeta sobre la sección hero */
    top: 40%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el centro de la tarjeta */
    z-index: 1; /* Asegura que la tarjeta esté sobre el fondo */
    margin: 0 auto;
}

.developer-photo {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 150px;
    border-radius: 30%;
    margin-right: 20px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0;
}

/* Efecto hover para la tarjeta */
.card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

/* Cardholder Section Styles */
.cardholder {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #05071E;
}

.card {

    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    margin: 20px;
    border: 2px solid #07c5d4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px 5px rgba(0, 183, 255, 0.6);
}

.logo {
    padding: 20px;
}

.logo img {
    max-width: 80px;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0 0 20px rgba(0, 183, 255, 0.9));
}

.card img {
    width: 100%;
    height: auto;
}

h2 {
    background-color: #000020;
    font-size: 1.5em;
    margin: 10px 0;
}

p {
    font-size: 1em;
    margin: 0 15px 20px;
    line-height: 1.4;
}


/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer a {
    color: #fff;
    text-decoration: none;
}

/* Hero 2 Section Styles */
.mid {
    background-image: url('assets/mid.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    z-index: -1; /* Asegura que el contenido de la tarjeta esté sobre el fondo */
    height: 40vh;
    background-attachment: fixed; /* Fondo fijo para efecto parallax */
}

.mid-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

